# MongoDB Atlas URI con usuario y contraseña
MONGODB_URI=mongodb+srv://anpadilla:P4d1llamran@cluster0.huh4a86.mongodb.net/<nombre_db>?retryWrites=true&w=majority
MONGODB_DBNAME=cursos_online

# Clave secreta JWT para firmar tokens
JWT_SECRET=And3rs0nP4*6710875

# Origen del frontend (opcional)
CLIENT_ORIGIN=https://tu-app.vercel.app

# Puerto local de desarrollo
PORT=3000
